.directionList--loading {
  text-align: center;
}

.directionList--loading__text {
  font-style: italic;
  font-size: 1.25rem;
}

.directionList--loading__spinner {
  display: block;
  width: 75px;
  margin: 0 auto;
}

.directionList__headerStop {
  text-decoration: underline;
}