.directionList--loading {
  text-align: center;
  padding: 1rem;
}

.directionList--loading__text {
  font-style: italic;
  font-size: 1.25rem;
}

.directionList--loading__spinner {
  display: block;
  width: 75px;
  margin: 0 auto;
}

.directionList__headerStop {
  text-decoration: underline;
}

.directionsContainer {
  background-color: rgba(250, 250, 250, 0.8);
  margin: 20px;
  border-radius: 2px;
  color: #00303F;
  
}

.directionList__header {
  text-align: center;
  padding: 40px 20px;
}

.directionList {
  padding: 0 80px 40px;
}

.directionsGoogleMapsLink {
  display: block;
  text-align: center;
}