.dropdownContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

}

.dropdownHeader {
  text-align: center;
  color: #00303F;
  font-size: 2rem;
}

.dropdown {
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
}