#save-itinerary-button {
  border: solid black 2px;
  padding: 5px;
  margin: 5px 0;
  text-align: center;
}

.ready-to-save {
  background-color: green;
}

.not-ready-to-save {
  background-color: gray;
}