
.itineraryPreview {
    min-height: 360px;
}

.savedItineraries__header {
    font-family: 'Roboto', sans-serif;
    color: #00303F;
}
.savedItineraries {
    font-family: 'Roboto', sans-serif;
   
}
.itineraryCard {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  padding: 5px;
  margin: 10px;
  border: 3px solid white;
  background-color: #7a9d96;

}
#save-itinerary-button {
  /* border: solid black 2px; */
  padding: 5px;
  margin: 5px 0;
  text-align: center;
  
  margin-left: 0;
  font-family: 'Roboto', sans-serif;
  
}

.ready-to-save {
  background-color: white;
  color: #00303F;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.not-ready-to-save {
    opacity: .75;
    background-color: #7a9d96;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.saveItineraryButtonContainer {
    margin: 20px 80px;
    
  
}
