.attractionPreviewContainer {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

.previewBox {
  border: 1px solid;
  text-align: center;
  padding: 15px;
}

dialog {
  text-align: center;
}